<!DOCTYPE html>
<html>

<head>
  <title>Notifications - Ready Bootstrap Dashboard</title>
  <style type="text/css">
    ul.demo {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .div1 {
      position: fixed;
      top: 90px;
      right: 280px;
      left: 280px;
      bottom:200px;
      width: 50%;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .button {
      background-color: #4CAF50;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button2 {
      background-color: #008CBA;
    }

    /* Blue */
    .button3 {
      background-color: #f44336;
    }

    /* Red */
  </style>
</head>

<body>
  <div class="div1">
    <ul class="demo">
      <div style="margin-left:130px;margin-top:120px">
        <a href="/query">
          <button class="button">余额查询</button>
        </a>
        <a href="/invoke">
          <button class="button button2">金额转让</button>
        </a>
        <a href="/block">
          <button class="button button3">区块遍历</button>
        </a>
      </div>
    </ul>
  </div>


</body>

</html>