
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆界面1</title>
	<link rel="stylesheet" href="/stylesheets/index.css" />
	<script src="/javascripts/jquery.js"></script>
</head>
<body>
	<div class="container">
		<!-- 导航 -->
		<div class="nav">
			<ul>
				<li><a href="#">链接三</a></li>
				<li><a href="#">链接二</a></li>
				<li><a href="#">链接一</a></li>
				<li><a href="#">首页</a></li>
			</ul>
		</div>
 
		<!-- 主体内容 （登陆界面）-->
		<div class="main">
			<!-- 左侧信息栏 -->
			<div class="sideleft">
				<h1>11111111111111</h1>
				<h4>22222222222222222222</h4>
				</br></br></br>
				<p>33333333333333333333333333</p>
				<p>444444444444444444444444444444</p>
				<p>555555555555555555555555555555555555</p>
				<p>6666666666666666666666666666666666666666666666666666666666</p>
 
			</div>
			<!-- 右侧登陆界面 -->
			<div class="sideright">
				<div class="index">
					<form action="/login" method="post">
						<p class="headline">用户登陆</p>
						<p class="astyle">用户名：</p>
						<input type="text"  id="username" name="username" placeholder="请输入用户名" required>
						<p class="astyle">密码：</p>
						<input type="text"  id="password" name="password" placeholder="请输入密码" required>
						<div class="add-save">
							<input type="submit" value="登陆" id="login" >
						</div>
						
						</br>
						<p class="bstyle"><input type="checkbox" name="rempas" />  记住密码</p>
						<p class="cstyle">忘记密码</p>
						</br></br>
						<p class="cstyle">没有账号？<a href="/reg">立即注册</a></p>
					</form>
 
				</div>
			</div>
		</div>
 
		<!-- 尾部 -->
		<div class="footer">
				<ul>
					<li><a href="#">关于我们</a></li>					
					<li><a href="#">Github地址</a></li>
					<li><a href="#">联系邮箱</a></li>
					<li><a href="#">湖南省长沙市岳麓区xx路666号xxx </a></li>
				</ul>
 
		</div>
 
	</div>
</body>
<!-- <script src="/javascripts/login.js"></script> -->
</html>

