<!DOCTYPE html>
<html>
  <head>
    <title>用户注册</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="/javascripts/jquery.js"></script>
  </head>
  
  <body>
    <header>
      <div class="container">
        用户注册
      </div>
    </header>
    <section>
      <div class="container">
        <section>
          <form action="">
            <div class="form-group">
              <label>用户名</label>
              <input type="text" id="name" >
            </div>
            <div class="form-group">
              <label>密码</label>
              <input type="text" id="password">
            </div>
            <div class="form-group">
              <label>所属部门</label>
              <input type="text" id="department">
            </div>
            <div>
              <div class="add-save">
                <input type="button" value="保存" id="save">
              </div>
            </div>
          </form>
        </section>
      </div>
    </section>
  </body>
  <script src="/javascripts/index.js"></script>
</html>
