button,input {
    border: none
}

address,article,aside,audio,b,body,canvas,caption,code,dd,details,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,img,label,legend,li,mark,menu,nav,ol,p,pre,section,select,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,video {
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    line-height: inherit;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    color: inherit
}

img {
    border: 0
}

table {
    width: 100%!important;
    border-collapse: collapse;
    border-spacing: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}

input {
    background: 0 0
}

input[type=submit] {
    cursor: pointer
}

input[type="button"]{
	-web-kit-appearance:none;
  	-moz-appearance: none;
  	display: block;
  	margin: 0 auto;
  	font-size:15px;
  	width: 240px;
}

li,ol,ul {
    list-style: none
}

:link,:visited {
    text-decoration: none
}

pre {
    font-family: "Lucida Console",Consolas,"Courier New",Tahoma;
    color: #666;
    text-indent: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}

article,aside,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block
}

.form-group {
    padding: 0 20px 10px;
    height: 40px
}

.form-group label {
    width: 10%;
    text-align: right;
    display: inline-block
}

.form-group input {
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    height: 24px;
    width: 50%;
    padding: 6px 5px;
    margin-left: 5%;
    background: #fff
}

.radio {
    display: inline-block;
    margin-left: 5%
}

.radio .radio-inline {
    padding-left: 20px;
    padding-top: 13px;
    position: relative;
    box-sizing: border-box;
    margin-right: 15px;
    display: inline-block;
    width: auto
}

.radio input[type=radio] {
    position: absolute;
    left: 0;
    top: 10px;
    width: 14px;
    display: inline-block
}

.undisplay {
    display: none
}

body {
    font: 14px/1 Helvetica,Arial,sans-serif;
    background: #f0f0f0
}

.main-right-nav-list-item-active,.main-right-table table tr th {
    font-weight: 700
}

.footer,.header {
    background: #2f3440
}

a {
    color: #000
}

a:hover {
    color: #1c95ea
}

.banner-word,.footer,.footer h3 a,.header,.header-right span a {
    color: #fff
}

.container {
    width: 1200px;
    margin: 0 auto
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.main-right {
    margin-left: 244px
}

.t-1 {
    width: 10%
}

.t-2 {
    width: 20%
}

.t-3 {
    width: 30%
}

.t-4 {
    width: 40%
}

.t-5 {
    width: 50%
}

.t-6 {
    width: 60%
}

.t-7 {
    width: 70%
}

.t-8 {
    width: 80%
}

.t-9 {
    width: 90%
}

.t-10 {
    width: 100%
}

.center {
    text-align: center
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.t-left-padding {
    padding-left: 20px
}

.t-right-padding {
    padding-right: 20px
}
header {
    font-size:30px;
    text-align:center;
    margin-bottom:50px;
    margin-top:30px;
}
form{
    margin-left:200px;
}
#save{
    width: 70px;
    height: 40px;
    background: #0aa3e0;
    margin-left: 350px;
}
tr{
    height:40px;
    background:#fff;
    border-bottom:1px solid #f0f0f0;
}
tr:hover{
    background:#a7a0a0;
}